@import "./nullstyle.scss";
@import "./header.scss";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@font-face {
  font-family: Montserrat-Regular;
  src: url("../../public/font/Montserrat-Regular.woff") format('woff');
}

%flex-center {
  display: flex;
  align-items: center;
}

%font-Montserrat {
  font-family: Montserrat-Regular;
}
